h1 {
    font-family: 'Piedra', cursive;
}

.homeBody h1 {
    font-size: 100px;
    color: rgb(141, 169, 2);
}

.winBody h1,
.loseBody h1 {
    font-size: 60px;
    color: #000000;
}

button,
p {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}

p {
    background-color: rgba(0,0,0, .7);
    color: white;
}