@import "setup";
@import "typography";

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    display: block;
}

button {
    border: none;
    background-color: purple;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

p {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 5% auto;
}

.homeBody,
.gameBody,
.winBody,
.loseBody {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.homeBody {
    background-image: url('.././assets/homeBackground.jpg');
}

.gameBody,
.winBody,
.loseBody {
    background-image: url('.././assets/gameBackground.jpg');
}

// .winBody {
//     background-image: url('.././assets/winBackground.jpeg');
// }

// .loseBody {
//     background-image: url('.././assets/loseBackground.jpeg');
// }

.winBody img,
.loseBody img{
    width: 30%;
    margin: 20px auto 10px auto;
}

.homeContent,
.endContent {
    padding: 40px;
    text-align: center;
        h1 {
            margin: 0 auto;
        }
        p {
            margin: 20px auto;
            width: 40%;
        }
        button {
            margin: 20px auto 0 auto;
        }
}

.gameArea {
    display: flex;
    justify-content: space-between;
}

.playerArea {
    width: 30%;
    margin: 8% auto;
}

.card {
    min-width: 200px;
    padding: 10px;
    height: 50vh;
        img {
            border-radius: 10px;
        }
}

.home {
    display: block;
    text-align: center;
}

.gameButtons {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        button {
            margin-bottom: 20px;
        }
}