@import "setup";
@import "typography";

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    display: block;
}

button {
    border: none;
    background-color: purple;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
        &:hover,
        &:focus,
        &:focus-within {
            width: 230px;
            height: 70px;
        }
        &:active {
            width: 200px;
            height: auto;
            background-color: rgb(101, 1, 101);
        }
}

p {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 5% auto;
}

.homeBody,
.gameBody,
.winBody,
.loseBody {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.homeBody {
    background-image: url('.././assets/homeBackground.jpg');
}

.gameBody {
    background-image: url('.././assets/gameBackground.jpg');
}

.winBody {
    // background-image: url('.././assets/winBackground.jpg');
    // background-color: #96E5E0;
    background-color: #65CFDC;
}

.loseBody {
    // background-image: url('.././assets/loseBackground.jpg');
    background-color: #25011D;
}

.winBody img,
.loseBody img{
    width: 30%;
    min-width: 200px;
    margin: 20px auto 10px auto;
}

.homeContent,
.endContent {
    padding: 40px;
    text-align: center;
        h1 {
            margin: 0 auto;
        }
        p {
            margin: 20px auto;
            width: 50%;
        }
        button {
            margin: 20px auto 0 auto;
        }
}

.gameArea {
    display: flex;
    justify-content: space-between;
}

.playerArea {
    width: 30%;
    margin: 8% auto;
        p {
            height: 112px;
        }
}

.card {
    min-width: 200px;
    padding: 10px;
        img {
            border-radius: 10px;
        }
}

.home {
    display: block;
    text-align: center;
}

.gameButtons {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        button {
            margin-bottom: 20px;
        }
}

.mobileBtn {
    display: none;
}

@media (max-width: 950px) {

    .homeContent {
        h1 {
            font-size: 75px;
        }
        p {
            width: 70%;
        }
    }
    
    .desktopBtn {
        display: none;
    }

    .mobileBtn {
        display: block;
        // text-align: center;
        margin: 0 auto;
    }

    .gameButtons {
        text-align: center;
        margin: 0 auto;
            button {
                text-align: center;
                margin: 0 auto;
            }
            .home {
                margin-top: 20px;
            }
    }
}

@media (max-width: 590px) {
    .wrapper {
        width: 95%;
    }
    
    .homeBody {
        background-size: auto;
    }

    .homeContent {
        h1 {
            font-size: 60px;
        }
        p {
            height: 300px;
            overflow-y: scroll;
            width: 85%;
        }
    }

    .gameBody {
        background-repeat: repeat;
    }

    .gameArea {
        flex-direction: column;
        align-items: center;
    }

    .playerArea {
        width: 70%;
            p {
                height: auto;
                font-size: 30px;
            }
    }

    .card {
        min-width: auto;
    }

    .gameButtons {
        width: 100%;
    }

    .winBody h1,
    .loseBody h1 {
        font-size: 40px;
    }
}